/* ---------------------------------------------
                Global settings
------------------------------------------------ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #404041;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

/* ---------------------------------------------
                Nav section
------------------------------------------------ */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 240);
  width: 100%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  min-height: 10rem;
}

.logo {
  width: 6rem;
}
.nav-list {
  display: flex;
  /* justify-content: flex-start; */
  margin-right: 1rem;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav a:hover {
  color: #2a9d8f;
}
/* ---------------------------------------------
                Welcome section
------------------------------------------------ */
/* #welcome-section {
    height: 100vh;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 45rem;
  margin: 12rem auto 3rem;
  background-color: rgba(255, 255, 240, 0.9);
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
/* 
.container > * {
  width: 100%;
} */

@media screen and (min-width: 52.5em) {
  .container {
    flex-direction: row;
  }

  .welcome-title {
    max-width: 25rem;
  }
}

.welcome-title,
.welcome-about {
  padding: 1rem;
}

.welcome-title {
  /* outline: 2px solid red; */
  /* font-weight: 700; */
  /* flex-basis: 18rem; */
  font-family: "Abril Fatface", cursive;
  font-size: 1.5rem;
  letter-spacing: 2px;
  flex-shrink: 0;
}

.welcome-about {
  margin-left: 1rem;
  /* outline: 2px solid red; */
  flex-grow: 2;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.5;
}

.welcome-about p {
  margin-bottom: 1rem;
}

button {
  background: none;
  color: black;
  border: 2px solid;
  border-radius: 1em;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
  cursor: pointer;
  width: fit-content;
}

button:hover {
  border-color: #2a9d8f;
  color: #2a9d8f;
  box-shadow: 0 0.5em 0.5em -0.4em #2a9d8f;
  transform: translateY(-0.15em);
}

/* ---------------------------------------------
                Projects section
------------------------------------------------ */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 45rem;
  margin: 0 auto 3rem;
  background-color: rgba(255, 255, 240, 0.9);
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 800px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.projects-header {
  font-family: "Abril Fatface", cursive;
  letter-spacing: 2px;
}
/* ---------------------------------------------
                Footer section
------------------------------------------------ */
#footer-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 240);
  width: 100%;
}

#footer-navbar ul {
  display: flex;
  list-style: none;
  margin: 1rem;
}

.footer-logo {
  width: 2rem;
  margin: 0.75rem;
}

footer {
  margin-top: auto;
  background-color: ivory;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
  min-height: 9rem;
}

a {
  text-decoration: none;
  color: #000;
}

section h3 {
  margin: 1rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  padding: 1em;
}
